.env
shopsphere_watermark.json
pipeline/__pycache__/
venv/
tests/__pycache__/
local_data/
.pytest_cache/
pipeline/postgres_pipeline/data_quality.py
pipeline/postgres_pipeline/extracts.py
pipeline/great_expectations/customer_sessions.json
pipeline/great_expectations/product_reviews.json
pipeline/postgres_pipeline/source_data.txt
pipeline/postgres_pipeline/warehouse_ddl.sql
pipeline/postgres_pipeline/load_trial.py
run_pipeline.sh
pipeline/postgres_pipeline/warehouse_stg_ddl.sql
pipeline/postgres_pipeline/__pycache__/
pipeline/shipment_pipeline/__pycache__/
*.pyc